<div class="span7">   
    <div class="widget stacked widget-table action-table">
                    
        <div class="widget-header">
            <i class="icon-th-list"></i>
            <h3>Categorias</h3>
        </div> <!-- /widget-header -->
                
        <div class="widget-content">
                    
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Filmes cadastrados</th>
                        <th class="td-actions">Ações</th>
                    </tr>
                </thead>

                <tbody id="table-category-content"></tbody>
                
            </table>
                    
        </div> <!-- /widget-content -->
            
    </div> <!-- /widget -->
</div>
