<div class="span9"> 
  <h3 id="legend"></h3> 
    <div class="well">  
        <form class="form-horizontal" >       
            <p><sup>*</sup> Campos obrigatórios</p>

            <!-- status bar -->
            <div class="status-bar">
                <div class="alert alert-success" style="display: none"></div>
            </div>

            <div class="row-fluid">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="name">Nome <sup>*</sup></label>
                        <div class="controls">
                            <input class="input-block-level" type="text" id="name" name="name" value="<%= name %>">
                            <span class="help-inline"></span>
                        </div>
                    </div>    
                </div>
            </div>          
            <div class="control-group">
                <div class="controls pull-right">                   
                    <button id="category-save" class="btn btn-primary save"><%= action_btn %></button>
                </div>
            </div>    
        </form>
    </div>
</div>
