<div class="container">
	<div class="row">
		<div class="span3">
			<h5>Desenvolvedores</h5>
			<a href="">JOÃO HELIS</a>
			<a href="">JUAN CARLOS</a> 
			<a href="">SMITH ASCARI</a> 			
		</div>		
		<div id="socialMedia" class="span3 pull-right">
			<h5>ACOMPANHE O CINEPHILE</h5>
			<a href=""><img width="60" height="60" src="lib/theme/images/facebook.png" title="facebook" alt="facebook"/></a>
			<a href=""><img width="60" height="60" src="lib/theme/images/twitter.png" title="twitter" alt="twitter"/></a>
			<a href=""><img width="60" height="60" src="lib/theme/images/youtube.png" title="youtube" alt="youtube"/></a>
		</div> 
	 </div>
	<br><br>
	<p class="pull-right">&copy; cinephilebox.com</p>
</div>
