<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Login</li>
    </ul>
	<h3> Login</h3>	
	<hr class="soft"/>
	
	<div class="row">
		<div class="span4">
			<div class="well">
			<h5>CRIE SUA CONTA</h5><br/>
			Informe seu endereço de e-mail para criar uma nova conta.<br/><br/>
			<form action="register.html">
			  <div class="control-group">
				<label class="control-label" for="inputEmail0">Endereço de e-mail</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail0" placeholder="Email">
				</div>
			  </div>
			  <div class="controls">
			  	<button type="submit" class="btn block">Crie sua conta</button>
			  </div>
			</form>
		</div>
		</div>
		<div class="span1"> &nbsp;</div>
		<div class="span4">
			<div class="well">
			<h5>JÁ ESTÁ REGISTRADO?</h5>
			<form>
			  <div class="control-group">
				<label class="control-label" for="inputEmail1">E-mail</label>
				<div class="controls">
				  <input class="span3"  type="text" id="inputEmail1" placeholder="e-mail">
				</div>
			  </div>
			  <div class="control-group">
				<label class="control-label" for="inputPassword1">Senha</label>
				<div class="controls">
				  <input type="password" class="span3"  id="inputPassword1" placeholder="senha">
				</div>
			  </div>
			  <div class="control-group">
				<div class="controls">
				  <button type="submit" class="btn">Entrar</button> <a href="#forgetpass">Esqueceu sua senha?</a>
				</div>
			  </div>
			</form>
		</div>
		</div>
	</div>	
</div>