<div class="span9">	
	<h3 id="legend"></h3>	
	<div class="well">	
		<form class="form-horizontal" >				
			<p><sup>*</sup> Campos obrigatórios</p>

			<!-- status bar -->
			<div class="status-bar">                                                                
                <div class="alert alert-success" style="display: none"></div>                                  
            </div>

			<div class="row-fluid">
				<div class="span6">
					<div class="control-group">
						<label class="control-label" for="title">Título <sup>*</sup></label>
						<div class="controls">
						  <input class="input-block-level" type="text" id="title" placeholder="Título" name="title" value="<%= title %>">
						  <span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="category">Categoria <sup>*</sup></label>
						<div id="category_list" class="controls">
						  
						  <span class="help-inline"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="birthplace">País de origem <sup>*</sup></label>
						<div class="controls">
					  		<input type="text" id="birthplace" placeholder="País de origem" name="birthplace" value=<%= birthplace %>>
					  		<span class="help-inline"></span>
						</div>
			  		</div>	  
					<div class="control-group">
						<label class="control-label" for="releaseYear">Ano de lançamento <sup>*</sup></label>
						<div class="controls">
					  		<input type="number" id="releaseYear" placeholder="Ano de lançamento" name="releaseYear" value=<%= releaseYear %>>
					  		<span class="help-inline"></span>
						</div>
			  		</div>  	
				</div>
				<style type="text/css">  
			        .upload-wrapper {cursor:pointer; display:inline-block; position:relative;overflow:hidden;}
					.upload-file {cursor:pointer; position:absolute; filter:alpha(opacity=100); -moz-opacity:0.01; opacity:0.01; font-size:150px;}
					.upload-button {cursor:pointer; height:150px; width:150px; }
		        </style> 
		        
				<div id="div-cover-picture" class="span3 pull-right">
                    <div id="cover-picture-well"class="well" style="background-color:white;">                                              
                        <span class="upload-wrapper">
							<input id="coverPicture" class="upload-file" type="file"/>
							<img id="viewCoverPicture" width="150" height="150" class="upload-button" alt="title=" src="<%= coverPicture %>" />
						</span>                                                
						<p>Click na imagem para altera-la</p>
                    </div>
                </div>
			</div>
		  	<div class="control-group">		
		  		<label class="control-label" for="sinopse">Sinopse <sup>*</sup></label>
		  		<div class="controls">
		  			<textarea class="input-block-level" rows="5" id="sinopse" placeholder="Sinopse" name="sinopse"><%= sinopse %></textarea>
		  			<span class="help-inline"></span>
					<!--cols="100"-->
		  		</div>		
			</div>
		  	<div class="control-group">
				<label class="control-label" for="stockQuantity">Quantidade <sup>*</sup></label>
				<div class="controls">				  
				  <input type="number" id="stockQuantity" placeholder="Quantidade" name="stockQuantity" value=<%= stockQuantity %>>
				  <span class="help-inline"></span>
				</div>				
		  	</div>  					
			<div class="control-group">
				<div class="controls pull-right">															
					<button id="movie-save" class="btn btn-primary save">Salvar</button>
					<button id="movie-delete" class="btn delete">Excluir Filme</button>
				</div>
			</div>		
		</form>
	</div>
</div>