<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
	<li class="active">Todos os Filmes</li>
</ul>
<h3> Todos os Filmes <small class="pull-right"> 9 Filmes estão disponíveis </small></h3>	
<hr class="soft"/>
<p>
	Os melhores filmes estão disponíveis para você.
</p>
<hr class="soft"/>
<form class="form-horizontal span6">
	<div class="control-group">
	  <label class="control-label alignL">Ordenar por:</label>
		<select>
          <option>Nome do filme de A - Z</option>
          <option>Nome do filme de Z - A</option>
      	</select>
	</div>
	</form>
  

<div id="myTab" class="pull-right">
	 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
	 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
</div>
<br class="clr"/>

<div class="tab-content">

	<!-- Movie list view-->
	<div class="tab-pane" id="listView"></div>		
	<div class="tab-pane  active" id="blockView">
		<ul class="thumbnails"></ul>
	<hr class="soft"/>
	</div>
</div>

<div class="pagination">
	<ul>	
		<li><a >&lsaquo;</a></li>
		<li><a >1</a></li>
		<li><a >2</a></li>
		<li><a >3</a></li>
		<li><a >4</a></li>
		<li><a >...</a></li>
		<li><a >&rsaquo;</a></li>
	</ul>
</div>
<br class="clr"/>