<div class="span9">
    <ul class="breadcrumb">
		<li><a href="index.html">Home</a> <span class="divider">/</span></li>
		<li class="active">Todos os Filmes</li>
    </ul>
	<h3> Todos os Filmes <small class="pull-right"> 9 Filmes estão disponíveis </small></h3>	
	<hr class="soft"/>
	<p>
		Os melhores filmes estão disponíveis para você.
	</p>
	<hr class="soft"/>
	<form class="form-horizontal span6">
		<div class="control-group">
		  <label class="control-label alignL">Ordenar por:</label>
			<select>
              <option>Nome do filme de A - Z</option>
              <option>Nome do filme de Z - A</option>            
			  <option>AÇÃO </option>
			  <option>AVENTURA </option>
			  <option>ANIMAÇÃO </option>
			  <option>POLICIAL </option>
			  <option>ROMANCE </option>
			  <option>SUSPENSE </option>
			  <option>TERROR </option>
              </select>
		</div>
  	</form>
	  
	<div id="myTab" class="pull-right">
		 <a href="#listView" data-toggle="tab"><span class="btn btn-large"><i class="icon-list"></i></span></a>
		 <a href="#blockView" data-toggle="tab"><span class="btn btn-large btn-primary"><i class="icon-th-large"></i></span></a>
	</div>
	<br class="clr"/>

	<div class="tab-content">
		<div class="tab-pane" id="listView">
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/1.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>					
						Matt Kowalski (George Clooney) é um astronauta experiente que está em missão de conserto ao telescópio Hubble juntamente com a doutora Ryan Stone (Sandra Bullock). Ambos são surpreendidos por uma chuva de destroços decorrente da destruição de um satélite por um míssil russo, que faz com que sejam jogados no espaço sideral. Sem qualquer apoio da base terrestre da NASA, eles precisam encontrar um meio de sobreviver em meio a um ambiente completamente inóspito para a vida humana
					</p>					
					<a class="btn btn-small pull-right" href="product_details.html">Ver detalhes</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>				
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>				  	
				  	<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>				
				</form>
				</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/2.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>
					Após a 74ª edição dos Jogos Vorazes, Katniss Everdeen se torna o símbolo da revolução e embarca na "Turnê da Vitória" nos distritos juntamente com Peeta Mellark. No decorrer do percurso, Katniss sente que uma rebelião está em ebulição, mas o congresso continua fortemente no controle, ao mesmo tempo em que o Presidente Snow prepara a 75ª edição dos jogos, o "Massacre Quaternário" - uma competição que pode mudar Panem para sempre.
					</p>					
					<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>					
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>					
				</form>
				</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/3.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>
					Walter é um sonhador que escapa de sua vida anônima ao desaparecer em um mundo de fantasia, repleto de heroísmo, romance e ação. Quando seu trabalho ao lado de sua colega é ameaçado, ele decide enfrentar o mundo real e embarca em uma jornada global que transforma-se em uma aventura mais extraordinária que poderia ter imaginado.
					</p>
					<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
				<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>					
				</form>
				</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/4.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>
					Após iniciar sua jornada ao lado de um grupo de anões e de Gandalf (Ian McKellen), Bilbo Bolseiro (Martin Freeman) segue em direção à Montanha Solitária, onde deverá ajudar seus companheiros de missão a retomar a Pedra de Arken, que fará com que Thorin  (Richard Armitage) obtenha o respeito de todos os anões e o apoio na luta para retomar seu reino. O problema é que o artefato está perdida em meio a um tesouro protegido pelo temido dragão Smaug (voz de Benedict Cumberbatch). Ao mesmo tempo, Gandalf investiga uma nova força sombria que surge na Terra Média.
					</p>
					<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>					
					</form>
				</div>
			</div>
		
			<hr class="soft"/>
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/5.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>
					Durante a Segunda Guerra Mundial, uma jovem garota chamada Liesel Meminger sobrevive fora de Munique através dos livros que ela rouba. Ajudada por seu pai adotivo, ela aprende a ler e partilhar livros com seus vizinhos, incluindo um homem judeu que vive na clandestinidade.
					</p>
					<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>					
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>
					</form>
				</div>
			</div>
			<hr class="soft"/>
			<div class="row">	  
				<div class="span2">
					<img src="img/movies/6.jpg" alt=""/>
				</div>
				<div class="span4">
					<h3>Novo | Disponível</h3>				
					<hr class="soft"/>
					<h5>Nome do Filme </h5>
					<p>					
					Peter Parker (Andrew Garfield) é um rapaz tímido e estudioso, que inicou há pouco tempo um namoro com a bela Gwen Stacy (Emma Stone), sua colega de colégio. Ele vive com os tios, May (Sally Field) e Ben (Martin Sheen), desde que foi deixado pelos pais, Richard (Campbell Scott) e Mary (Embeth Davidtz). Certo dia, o jovem encontra uma misteriosa maleta que pertenceu a seu pai. O artefato faz com que visite o laboratório do dr. Curt Connors (Rhys Ifans) na Oscorp. Parker está em busca de respostas sobre o que aconteceu com os pais, só que acaba entrando em rota de colisão com o perigoso alter-ego de Connors, o vilão Lagarto
					</p>
					<a class="btn btn-small pull-right" href="product_details.html">View Details</a>
					<br class="clr"/>
				</div>
				<div class="span3 alignR">
					<form class="form-horizontal qtyFrm">
					<h3> R$140.00</h3>					
					<a href="product_details.html" class="btn btn-large btn-primary"> Adicionar para <i class=" icon-shopping-cart"></i></a>
					<a href="product_details.html" class="btn btn-large"><i class="icon-zoom-in"></i></a>					
					</form>
				</div>
			</div>
			<hr class="soft"/>
		</div>

		<div class="tab-pane  active" id="blockView">
			<ul class="thumbnails">
				<li class="span3">
				  <div class="thumbnail">
					<a href="product_details.html"><img src="img/movies/1.jpg" alt=""/></a>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					   <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<img src="img/movies/2.jpg" alt=""/>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					   <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<img src="img/movies/3.jpg" alt=""/>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<img src="img/movies/4.jpg" alt=""/>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a href="product_details.html"><img src="img/movies/5.jpg" alt=""/></a>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
				<li class="span3">
				  <div class="thumbnail">
					<a href="product_details.html"><img src="img/movies/6.jpg" alt=""/></a>
					<div class="caption">
					  <h5>Man off steel</h5>
					  <p> 
						<b>Categoria: </b>Aventura 
					  </p>
					    <h4 style="text-align:center"><a class="btn" href="product_details.html"> <i class="icon-zoom-in"></i></a> <a class="btn" href="#">Adicionar para <i class="icon-shopping-cart"></i></a> <a class="btn btn-primary" href="#">&euro;222.00</a></h4>
					</div>
				  </div>
				</li>
			  </ul>
		<hr class="soft"/>
		</div>
	</div>

	<div class="pagination">
		<ul>	
			<li><a href="#">&lsaquo;</a></li>
			<li><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">...</a></li>
			<li><a href="#">&rsaquo;</a></li>
		</ul>
	</div>
	<br class="clr"/>
</div>