<div>
  <ul class="nav nav-tabs nav-stacked">
    <li><a href="#admin">Home Admin</a></li>  
  </ul>
</div>
<br/>
<div class="accordion" id="admin-acordion">
  <div class="accordion-group">    
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#admin-acordion" href="#movie-manager">
        Gerenciador de Filme
      </a>
    </div>
    <div id="movie-manager" class="accordion-body collapse in">
      <div class="accordion-inner">
        <ul>
          <li><a href="#admin/movies/new">Novo Filme</a></li>
          <li><a href="#admin/movies/list">Tabela de Filmes</a></li>          
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#admin-acordion" href="#category-manager">
        Gerenciador de Categoria
      </a>
    </div>
    <div id="category-manager" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li><a href="#admin/categories/new">Nova Categoria</a></li>
          <li><a href="#admin/categories">Listar Categorias</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#admin-acordion" href="#user-manager">
        Gerenciador de Usuário
      </a>
    </div>
    <div id="user-manager" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul>
          <li><a href="#admin/users/new">Novo Usuário</a></li>
          <li><a href="#admin/users/list">Tabela de Usuários</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>